.centertext{
    text-align: center;
}
.margintext{
    margin-top: 3vw;
    margin-bottom: 2vw;
}

.applybutton{
    background: orange;
    display:block;
    margin:5VW auto 0 auto;
    border: none;
    outline:none !important;
    border-radius:0.5vw;
    width: auto;
    height: auto;
    
    
   
}
.applytext{
    color: black;
    font: 600 2.08vw Roboto; 
    margin: 0;
    padding: 0.9vw;
}